<% if user_signed_in? %>
<% else %>
	<div class="hero-unit">
    <h1>Welcome to Rails Template</h1>
    <p>To edit this goto /app/views/users/index.html.erb</p>
    <p>
    <%= link_to("Signup!", new_user_registration_path, :class => "btn btn-primary btn-large") %>
    </p>
	 </div>
<% end %>
