
<% if user_signed_in? %>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">GamePlay</a></li>
    <li><a href="#tab2" data-toggle="tab">Tutorial</a></li>
    <li><a href="#tab3" data-toggle="tab">Ranking</a></li>
    </ul>
    <div class="tab-content">
    <div class="tab-pane active" id="tab1">
    <p>Bomberman game go here</p>
    </div>
    <div class="tab-pane" id="tab2">
    <p>How to use?</p>
    </div>
    <div class="tab-pane" id="tab3">
    <p>Ranking is this page</p>
    </div>
    </div>
    </div>
<% end %>
