
<% if user_signed_in? %>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Course Page</a></li>
    <li><a href="#tab2" data-toggle="tab">Enroll a Course</a></li>
    <li><a href="#tab3" data-toggle="tab">My Knowledge</a></li>
    </ul>
    <div class="tab-content">
    <div class="tab-pane active" id="tab1">
    <p>Course: English & Chinese</p>
    </div>
    <div class="tab-pane" id="tab2">
    <p>Enroll in English or Chinese</p>
    </div>
    <div class="tab-pane" id="tab3">
    <p>My Knowledge is empty</p>
    </div>
    </div>
    </div>
<% end %>
